.side{
  height: 100vh;}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
}
.icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  height: 95%
}
.active {
  color: blue;
}
.icons > i{
  cursor: pointer;
}