.App {
  display: flex;
  width: 100%;
  height: 100vh;
}
.main {
  width: 5%;
  background-color: pink;
  /*height: 100vh;*/
}
.news {
  width: 95%;
  background-color: green;
  overflow-y: scroll;
  display: grid;
}
